/* CSS for loader1 */
.loader {
    font-size: 2em;
    font-weight: 900;
    display: flex;
    gap: 0.2em;
}

.loader>* {
    color: black;
}

.loader span {
    display: inline-flex;
}

.loader span:nth-child(2) {
    letter-spacing: -1em;
    overflow: hidden;
    animation: reveal 1500ms cubic-bezier(0.645, 0.045, 0.355, 1) infinite alternate;
}

@keyframes reveal {

    0%,
    100% {
        opacity: 0.5;
        letter-spacing: -1em;
    }

    50% {
        opacity: 1;
        letter-spacing: 0em;
    }
}


/* CSS for loader2 */
/* From Uiverse.io by mrhyddenn */
/* From Uiverse.io by Pradeepsaranbishnoi */
.loader2 {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
}

.loader2:before,
.loader2:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
}

.loader2:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}

.loader2:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg) scale(0.8);
        -moz-transform: rotate(0deg) scale(0.8);
    }

    50% {
        -webkit-transform: rotate(360deg) scale(1.2);
        -moz-transform: rotate(360deg) scale(1.2);
    }

    100% {
        -webkit-transform: rotate(720deg) scale(0.8);
        -moz-transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #f8b334;
    }

    50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #f8b334;
        margin-bottom: 10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #97bf0d;
    }

    50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-top: -20px;
        -webkit-transform: translate(15px, 15px);
        -moz-transform: translate(15px, 15px);
    }

    100% {
        box-shadow: 30px 0 0 #97bf0d;
        margin-top: 0;
    }
}





/* Code for Loader3.jsx */
.spinner3 {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.spinner3::before,
.spinner3::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

.spinner3::before {
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(0deg, #0f93ff 0%, #ffffff 50%); */
    animation: spin .5s infinite linear;
}

.spinner3::after {
    width: 85%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}



.card {
  width: 18rem;
  padding: 1rem;
  text-align: center;
  border-radius: .8rem;
  /* background-color: white; */
  display : flex;
  flex-direction : column;
  gap : 10px;
  width: 100%;
}

.card__skeleton {
  /* background-image: linear-gradient(
		90deg,
		#ccc 0px,
		rgb(229 229 229 / 90%) 40px,
		#ccc 80px
	); */
  background-size: 300%;
  background-position: 100% 0;
  border-radius: inherit;
  animation: shimmer 1.5s infinite;
}

.card__title {
  height: 15px;
  margin-bottom: 15px;
}


@keyframes shimmer {
  to {
    background-position: -100% 0;
  }
}